@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text{
    background: linear-gradient(to bottom, #000F55, #B20048);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient{
    background-image: linear-gradient(to bottom, #000F55, #B20048);;
  }
  .border-gradient-custom{
    border-image: linear-gradient(to bottom, #000F55, #B20048);
  }

  .button {
    border-image: linear-gradient(to bottom, #000F55, #B20048);
    border-image-slice: 1;
  }
  